[pset_origin]
media_origin = rand
file_name = solar_sys.csv

[set_config]
#comment
len_unit = 1   
mass_unit = 1
boundary = open
boundary_lim = -7 7 
sim_log = 0
sim_log_x = True
sim_log_v = False
rand_part_nr = 350

[model]
force = gravity
ode_solver_name = runge_kutta
time_step = 0.005
steps = 1000000
force_const = 0.001
force_vector = 0 0 -7

[animation]
animation_type = opengl
draw_trajectory = False
trajectory_step = 15
xlim = -5.0  5.0
ylim = -5.0  5.0
zlim = -5.0  5.0

[rand_cluster_bar]
rc_part_nr = 150
rc_centre = 0 0 1
rc_radius = 1.0
rc_mass_rng = 0.5  1.0
rc_vel_rng = 0.1 0.2
rc_vel_mdl = no
rc_vel_dir = 0 1 0
rc_r_min = 0.05

[rand_cluster_foo]
rc_part_nr = 150
rc_centre = 0 0 -1
rc_radius = 2.0
rc_mass_rng = 0.5  2.0
rc_vel_rng = 0.021 0.2
rc_vel_mdl = const
rc_vel_dir = 1 1 0

[rand_cluster_foobar]
rc_part_nr = 50
rc_centre = 0 3 -3
rc_radius = 2.0
rc_mass_rng = 0.2  2.0
rc_vel_rng = .1 .2
rc_vel_mdl = bomb
rc_vel_dir = 0 1 0
